# .clang-format
---
BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never

BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true

BreakBeforeBraces: Allman

SpaceBeforeParens: Never
SpacesInParentheses: true
SpaceInEmptyParentheses: false
SpacesInSquareBrackets: true

SpaceAfterCStyleCast: false

AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None

IndentCaseLabels: false
IndentCaseBlocks: false
IndentGotoLabels: false

AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignTrailingComments: false

ColumnLimit: 0